<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>RF Interface Controls</title>
</head>
<body>
<h1>RF Interface Controls</h1>
<!-- <p><a href="{{ url_for('send_command') }}">Send Command</a></p>
 -->
<form method="POST" action="{{ url_for('send_command') }}">
    <label>Command: </label><input type="text" name="command"> <br><br>
    <input type="submit" value="Send Command">
</form>

</body>
</html>