<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>RF Interface Controls</title>
</head>
<body>
<h1>RF Interface Controls</h1>

<form method="POST" action="{{ url_for('send_command') }}">
    <label>Command type:</label>
    <select name="command">
        <option value="1">Change State (1)</option>
        <option value="20">Airbrake Control (20)</option>
    </select>

    <br>
    <br>
    <label>Argument:</label>
    <input type="number" name="argument" min="0" max="255">

    <br><br>

    <input type="submit" value="Send Command">
</form>

<br><br>
<small>
    Change state argument:
    <pre>
    1:  OFF
    3:  READY
    4:  PRE LAUNCH
    5:  TAKING OFF
    6:  BRAKING
    7:  APOGEE
    8:  DROGUE PARACHUTE
    9:  MAIN PARACHUTE
    10: LANDED</pre>

    <br>

    Airbrake Control argument:
    <pre>
    0-255: AIRBRAKES POSITION
    </pre>
</small>

</body>
</html>